
/* landing page start */
.landing-page-container{
    background-image: url("../images/bismi-cultural-centre.jpeg");
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4.5rem;
    background-position: center;

}

.landing-page{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.32958693731398814) 0%, rgba(0,0,0,0.27636564879858194) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page h1{
    color: var(--white);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.392);
    font-size: 35px;
    font-family: 'Manjari', sans-serif;
    margin-left: 5rem;
}

.landing-page button{
    margin-top: 1rem;
    background: var(--primary-color);
    color: #fff;
    font-size: 20px;
    border-radius: 24px;
    padding: 4px 20px;
    cursor: pointer;
    border: none;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
    font-family: 'Manjari', sans-serif;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgb(249, 159, 0);
	}

	70% {
		box-shadow: 0 0 0 5px rgba(249, 158, 0, 0.104);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(249, 158, 0, 0.111);
	}
}

@media (max-width:700px) {
    .landing-page-container{
        height: 20rem;
        background-position: bottom;
    }
    .landing-page h1{
        font-size: 25px;
    }
}
/* landing page end */

/* content section start */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    background-image: url(https://demo.artureanec.com/html/helpo/img/blog_bg.png);
    background-position: bottom;
    background-size: cover;
}

.content-container h2{
    font-size: 32px;
    color: var(--heading-color);
}

.content-container p{
    width: 70%;
}

.content-container a{
    text-decoration: none;
    color: #000;
}

@media (max-width:700px) {
    .content-container p{
        width: 95%;
    }
    .content-container h2{
        font-size: 25px;
    }
}
/* content section start */

/* our activities section start */

.activities-container{
    width: 100%;
}

.activities-container h2{
    text-align: center;
    color: var(--heading-color);
    font-size: 32px;
}

.activities-box-main{
    width: 100;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.activities-box{
    width: 23rem;
    height: 25rem;
    box-shadow: 0 0 5px 0.4px rgba(0, 0, 0, 0.087);
    border: 0.1px solid rgba(0, 0, 0, 0.084);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.activities-box h3{
    margin-top: 0.3rem;
    font-weight: 500;
}

.activities-box p{
    text-align: center;
    width: 97%;
}

.activities-box button{
    position: absolute;
    bottom: 20px;
    border: none;
    background: var(--primary-light);
    width: 10rem;
    height: 1.5rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.activities-box button:hover{
    background: var(--primary-color);
}

.activities-box img{
    border-radius: 50%;
    margin-top: 0.5rem;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 1px 5px #f99e003a;
    transition: box-shadow ease-in-out 0.5s;
}

.activities-box:hover img {
    box-shadow: 0px 81px 1px 25px #f99e003a;
}

@media (max-width:500px) {
    .activities-box-main{
        padding: 0;
    }
    .activities-box{
        width: 95%;
    }
}
/* our activities section end */

/* latest activities section start */

.latest-activities{
    width: 100%;
    height: 30rem;
    display: flex;
    background-image: url(https://demo.artureanec.com/html/helpo/img/blog_bg.png);
}

.latest-activities-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
}

.latest-activities-left h3{
    font-weight: 400;
    color: var(--primary-color);
}

.latest-activities-left h2{
    font-size: 30px;
    color: var(--heading-color);
}

.latest-activities-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-video-thumb{
    width: 70%;
    height: 25rem;
    border-radius: 25px;
    background: url(../images/bismi-cultural-centre.jpeg);
}

.latest-video-thumb div{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.296);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.latest-video-thumb div:hover{
    background: rgba(0, 0, 0, 0.521);
}

.latest-video-thumb div i{
    font-size: 50px;
    color: var(--white);
}

.popup-video-container{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-video{
    width: 50rem;
    height: 28rem;
    background: white;
    position: relative;
}

.popup-video i{
    position: absolute;
    top: -35px;
    left: 50%;
    font-size: 30px;
    cursor: pointer;
    color: white;
}


@media (max-width:900px) {
    .latest-activities{
        flex-direction: column;
        height: auto;
        background-position: top;
        gap: 1rem;
        margin-top: 1rem;
    }
    .latest-activities-left{
        width: 100%;
        padding-left: 10px;
    }
    .latest-activities-right{
        width: 100%;
    }
    .latest-video-thumb{
        width: 90%;
    }
    .popup-video{
        height: 20rem;
    }
}