
/* landing page start */
.landing-page-container{
    width: 100%;
    height: 35rem;
    margin-top: 4.9rem;
    background: url(../images/bismi-cultural-centre.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page{
    width: 100%;
    height: 100%;
    display: flex;
    background: #add8e621;
    box-shadow: 0 0 22px -8px var(--primary-text);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.landing-page-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.landing-page-left h1{
    color: var(--white);
    text-shadow: 1px 1px 0px var(--primary-text);
    font-size: 39px;
    font-family: 'Manjari', sans-serif;
    margin-left: 5rem;
}

.landing-page-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-right h2{
    color: var(--white);
    text-shadow: 1px 1px 0px var(--primary-text);
}

.landing-page-right div{
    width: 70%;
    height: 70%;
    background: url(../images/bismi-cultural-centre.jpeg);
    border-radius: 50px;;
    background-position-y: center;
    background-position-x: -150px;
    box-shadow: 33px 34px 0px -5px #5fc5b81c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
}

.social-media-icons{
    display: none;
}

@media (max-width:700px) {
    .landing-page-container{
        height: 20rem;
        flex-direction: column;
    }
    .landing-page{
        flex-direction: column;
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        background: linear-gradient(90deg, rgba(0,0,0,0.32958693731398814) 0%, rgba(0,0,0,0.27636564879858194) 100%);
    }
    .landing-page-left{
        width: 100%;
        align-items: flex-start;
    }
    .landing-page-left h1{
        font-size: 25px;
    }
    .landing-page-right{
        display: none;
    }
    .social-media-icons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    
}
/* landing page end */

/* content section start */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.content-container h2{
    font-size: 32px;
    color: var(--heading-color);
}

.content-container p{
    width: 70%;
}

.content-container a{
    text-decoration: none;
    color: #000;
}

@media (max-width:700px) {
    .content-container p{
        width: 95%;
    }
    .content-container h2{
        font-size: 25px;
    }
}
/* content section start */

/* our activities section start */

.activities-container{
    width: 100%;
}

.activities-container h2{
    text-align: center;
    color: var(--heading-color);
    font-size: 32px;
}

.activities-box-main{
    width: 100;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.activities-box{
    width: 23rem;
    height: 25rem;
    box-shadow: 0 0 5px 0.4px rgba(0, 0, 0, 0.087);
    border: 0.1px solid rgba(0, 0, 0, 0.084);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.activities-box h3{
    margin-top: 0.3rem;
    font-weight: 500;
}

.activities-box p{
    text-align: center;
    width: 97%;
}

.activities-box button{
    position: absolute;
    bottom: 20px;
    border: none;
    background: var(--primary-light);
    width: 10rem;
    height: 1.5rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    background: var(--primary-color);
}


.activities-box img{
    border-radius: 50%;
    margin-top: 0.5rem;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 1px 5px var(--primary-text);
    transition: box-shadow ease-in-out 0.5s;
}

@media (max-width:500px) {
    .activities-box-main{
        padding: 0;
    }
    .activities-box{
        width: 95%;
    }
}
/* our activities section end */

/* donate now section start */

.donate-now-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
    padding-bottom: 30px;
    padding-top: 0;
}

.donate-now-container h2{
    color: var(--heading-color);
    font-size: 32px;
}

.donate-now-container p{
    margin-top: 0.4rem;
    text-align: center;
    width: 70%;
}

.donate-now-container button{
    margin-top: 1rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
    background: var(--primary-color);
    color: var(--white);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
}



@media (max-width:700px) {
    .donate-now-container{
        padding: 0;
        padding-bottom: 25px;
    }
    .donate-now-container h2{
        font-size: 25px;
    }
    .donate-now-container p{
        width: 100%;
    }
}
/* donate now section start */
/* latest activities start */
.latest-activities{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.latest-activities h2{
    text-align: center;
    color: var(--heading-color);
    font-size: 32px;
}

.latest-activities-images{
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.latest-activities-image{
    width: 20rem;
    cursor: pointer;
}

.latest-activities-image img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.latest-activities button{
    margin-top: 15px;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 30px;
    background: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}