/* page heading start */
.heading-container{
    background-image: url(../images/bismi-cultural-centre.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 4.5rem;
}

.heading-title{
    width: 100%;
    height: 15rem;
    background: rgba(0, 0, 0, 0.231);
}

.heading-main{
    width: 100%;
    height: 15rem;
    background: rgba(0, 0, 0, 0.332);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 0 22px -8px var(--primary-text);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.heading-main p{
    color: white;
    font-weight: 400;
}

.bread-crumps{
    padding-bottom: 2px;
    border-bottom: 3.3px solid var(--primary-color);
}

.heading-main h2{
    font-size: 32px;
    color: white;
    font-family: 'Manjari', sans-serif;
}
/* page heading end */

/* page content container start */

.page-content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-content-container p{
    width: 70%;
    font-family: 'Manjari', sans-serif;
}

.page-content-container p span{
    font-weight: 800;
    color: var(--primary-color);
}

.page-content-images{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.page-content-images img{
    width: 15rem;
    border-radius: 25px;
}

@media (max-width:700px) {
    .page-content-container p{
        width: 95%;
    }
    .page-content-images img{
        width: 90%;
    }
}
/* page content container end */

/* donation page start */
.donation-img{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.donation-img img{
    width: 30rem;
    border-radius: 25px;
}

@media (max-width:500px) {
    .donation-img img{
        width: 98%;
    }

}

/* donation page end */

.contact-container{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container form{    
    margin-top: 1rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contact-container textarea{
    resize: vertical;
    outline-style: none;
    padding: 0.6rem;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    background: transparent;
}

.contact-container input{
    outline: none;
    border: none;
    height: 2.5rem;
    width: 100%;
    padding-left: 0.6rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    background: transparent;
}

.contact-container button{
    background: var(--primary-color);
    border: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.contact-details{
    margin-top: 1rem;
}

.contact-details h2{
    color: #424242;
}

@media (max-width:646px) {
    .contact-container form{
        width: 98%;
    }
}