*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(
  155deg,
  hsl(0deg 0% 100%) 0%,
  hsl(163deg 33% 96%) -2%,
  hsl(163deg 35% 92%) 3%,
  hsl(163deg 34% 88%) 75%
);
}

/* variables */

:root{
    --primary-color: linear-gradient(to bottom, #5FC5B8, #8CD19D);
    --primary-text: #5FC5B8;
    --secondary-color: #f5f5f5;
    --heading-color: #424242;
    --black: #333333;
    --white: #ffff;
}

/* navbar start */
.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    background-image: linear-gradient(
        155deg,
        hsl(0deg 0% 100%) 0%,
        hsl(163deg 33% 96%) -2%,
        hsl(163deg 35% 92%) 3%,
        hsl(163deg 34% 88%) 75%
      );
    box-shadow: 0 4px 30px rgba(226, 220, 220, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.toggle{
    display: none;
}

.toggle i{
    font-size: 25px;
    color: var(--primary-text);
    cursor: pointer;
}

.brand-logo a{
    font-size: 25px;
    color: var(--heading-color);
    text-decoration: none;
    font-weight: 700;
}

.navbar ul{
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

.navbar ul a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 600;
}

.navbar ul a:hover{
    color: var(--primary-text);
}


@media (max-width:700px) {
    .toggle{
        display: initial;
    }
    .navbar ul{
        display: none;
    }
    .navbar.active ul{
        position: fixed;
        top: 4.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-top: 1px solid var(--primary-text);
        padding-bottom: 2rem;
        padding-top: 2rem;
        background-image: linear-gradient(155deg,hsl(0deg 0% 100%) 0%,hsl(163deg 33% 96%) -2%,hsl(163deg 35% 92%) 3%,hsl(163deg 34% 88%) 75%);
        box-shadow: 0 4px 30px rgba(226, 220, 220, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
    .brand-logo a{
        font-size: 23px;
    }
}

/* navbar end */

/* whatsapp chat icon start */

.whatsapp_chat{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #25D366;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}

.whatsapp_chat i{
    font-size: 25px;
}
/* whatsapp chat icon end */

/* footer section start */
.footer-container{
    border-top: 1px solid var(--primary-text);
    width: 100%;
    height: auto;

}

.footer-one{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* footer box */
.footer-box{
    width: 33.333%;
    height: 22rem;
    padding-top: 2rem;  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
}

.footer-box ul{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-box li{
    list-style: none;
    color: var(--heading-color);
}

.footer-box h3{
    margin-right: 3rem;
    color: var(--heading-color);
}

/* footer form start */
.footer-box form{
    margin-top: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-box textarea{
    resize: vertical;
    outline-style: none;
    padding: 0.6rem;
    border-radius: 3px;
    border: none;
}

.footer-box input{
    outline: none;
    border: none;
    height: 2rem;
    padding-left: 0.6rem;
    border-radius: 4px;
}

.footer-box a{
    text-decoration: none;
    color: var(--heading-color);
}

.footer-box button{
    background: var(--primary-color);
    border: none;
    height: 2rem;
    color: var(--white);
    cursor: pointer;
    border-radius: 4px;
}
/* footer form end */

/* footer credit start */
.footer-two{
    height: 6rem;
    margin-top: 1rem;
}

.footer-social-icons{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.footer-social-icons i{
    color: var(--heading-color);
    cursor: pointer;
    font-size: 18px;
}

.footer-credit{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: var(--heading-color);
}

.footer-credit a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 700;
}

.footer-credit p{
    text-align: center;
}

@media (max-width:1009px) {
    .footer-one{
        display: flex;
        flex-direction: column;
    }
    .footer-box{
        width: 100%;
        height: 33.333%;
    }
}/* footer end */

/* english font */
.english-font h2, p{
    font-family: 'Poppins', sans-serif!important;
}